* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1600px;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    background-color: #141415;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

/* Navigation on the big screen */
nav {
    position: relative;
    flex-basis: 10vh;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid white;
}

nav div.menu {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
}

li {
    flex-basis: 10%;
    line-height: 10vh;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: 200;
}

nav a:hover {
    font-size: 26px;
}

/* HEADER SECTION */
header {
    position: relative;
    flex-basis: 90vh;
    width: 100%;
    max-height: 650px;
    color: white;
    overflow: hidden;
}

header img {
    position: absolute;
    top: 5%;
    right: -8%;
    opacity: 0.6;
}

header h1 {
    position: absolute;
    top: 30%;
    left: 8%;
    font-size: 50px;
    line-height: 100px;
    animation: nameAnimationH1 2s linear alternate infinite both;
}

header h2 {
    font-weight: 200;
    font-size: 30px;
}

header h2:nth-of-type(1),
h2:nth-of-type(2) {
    position: absolute;
    top: 20%;
    left: 3%;
    animation: nameAnimationH2 1s linear both;
}

header h2:nth-of-type(2) {
    top: 50%;
    animation-delay: 1s;
}

.firstLetters {
    font-size: 80px;
    margin-left: 10px
}

@keyframes nameAnimationH1 {
    0% {
        left: 7.5%;
    }

    50% {
        left: 8%;
    }

    100% {
        left: 8.5%;
    }
}

@keyframes nameAnimationH2 {
    0% {
        left: -50%;
    }

    100% {
        left: 3%;
    }
}

/* ABOUT SECTION */
.about {
    display: flex;
    flex-basis: 100vh;
    width: 100%;
    background-color: white;
    max-height: 650px;
}

.about div.aboutMeText {
    flex-basis: 40%;
    height: 100%;
    padding: 50px 10px 0 30px;
}

.about div.aboutMeText h1 {
    font-size: 35px;
    font-family: Roboto;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about div.aboutMeText h3 {
    line-height: 50px;
    font-size: 26px;
    text-align: justify;

}

.about div.aboutMePhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 60%;
    padding: 20px 0;
}

.about div.aboutMePhotos a {
    position: relative;
    overflow: hidden;
    flex-basis: 40%;
    height: 30%;
    box-shadow: 0 0 3px 3px black;
}

.about div.aboutMePhotos img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

/* SKILLS SECTION */
.skills {
    flex-basis: 100vh;
    position: relative;
    width: 100%;
    max-height: 650px;
}

.skills h1 {
    font-size: 40px;
    font-family: Roboto;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 50px auto;
    letter-spacing: 5px;
}

.skills div.skillsContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 100px 0;
    justify-content: space-around;
    padding-left: 250px;
    animation: activeDiv 1s linear;
}

.skills div.skillsContainer div {
    flex-basis: 30%;
}

#inactive {
    display: none;
}

@keyframes activeDiv {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.skills button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    width: 400px;
    height: 90px;
    text-transform: uppercase;
    border: 2px solid #ec1840;
    color: white;
    background-color: transparent;
    letter-spacing: 2px;
    cursor: pointer;
}

.skills button:hover {
    background: url(https://i.postimg.cc/wBXGXbWN/pixel.png);
    animation: buttonAnimation 1.5s linear both;
}

@keyframes buttonAnimation {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -711px;
    }
}

/* PORTFOLIO SECTION */
.portfolio {
    flex-basis: 100vh;
    width: 100%;
    max-height: 650px;
    background-color: white;
}

.portfolio h1 {
    font-size: 40px;
    font-family: Roboto;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin: 50px auto;
    letter-spacing: 5px;
}

.portfolio div.portfolioContainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.portfolio .project1 {
    flex-basis: 33%;
    height: 400px;
    background-color: #E8E597;
}

.portfolio .project2 {
    flex-basis: 33%;
    height: 400px;
    background-color: #9DF2C9;
}

.portfolio .project3 {
    flex-basis: 33%;
    height: 400px;
    background-color: #9AA1DB;
}

.portfolio h2 {
    line-height: 400px;
    font-size: 35px;
    text-align: center;
}

/* CONTACT SECTION */
.contact {
    flex-basis: 100vh;
    width: 100%;
    max-height: 650px;
}

.contact h1 {
    font-size: 40px;
    font-family: Roboto;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 50px auto;
    letter-spacing: 5px;
}

.contact div.contactCointainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.contact div.findMe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 45%;
    height: 450px;
}

.contact div.findMe div.findMeBox {
    position: relative;
    flex-basis: 20%;
    width: 80%;
    background-color: rgb(31, 31, 31);
    transition: 0.8s;
    border: 1px solid rgb(31, 31, 31);
}

.contact div.findMe div.findMeBox p {
    position: absolute;
    top: calc(50% - 10px);
    left: 5%;
    color: white;
    font-size: 20px;
}

.contact div.findMe div.findMeBox:hover {
    border: 1px solid #EBC48A;
}

.contact div.findMe i {
    position: absolute;
    top: calc(50% - 45px/2);
    right: 7%;
    font-size: 45px;
    color: white;
}

.contact div.textMe {
    flex-basis: 45%;
    height: 450px;
}

.contact div.textMe form {
    padding-top: 18px;
}

input {
    width: 100%;
    height: 50px;
    margin: 10px auto;
    padding: 0 20px;
    background-color: rgb(31, 31, 31);
    color: white;
    border: 1px solid rgb(31, 31, 31);
    transition: 0.8s;
}

textarea {
    width: 100%;
    height: 180px;
    margin: 10px auto;
    padding: 10px 20px 0;
    background-color: rgb(31, 31, 31);
    color: white;
    border: 1px solid rgb(31, 31, 31);
    resize: none;
    transition: 0.8s;
}

input:hover,
textarea:hover {
    border: 1px solid #EBC48A;
}

input#submit {
    cursor: pointer;
}

/* FOOTER SECTION */
footer {
    height: 50px;
    width: 100%;
    border-top: 1px solid white;
}

footer p {
    font-size: 30px;
    line-height: 50px;
    color: white;
    text-align: center;
}